aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 91;
  background-color: $white;
  box-shadow: 0 4px 4px rgba($black, 0.25);
  width: 260px;
  max-width: 100%;
  @include transition(all 0.5s);
  padding-top: 45px;
  overflow: hidden auto;

  @include bp("xmd") {
    padding-top: 30px;
    opacity: 0;
    visibility: hidden;
    right: -100%;
    width: 250px;
    left: auto;
    top: 71px;
  }

  .logo-desktop {
    text-align: center;
    display: block;
    padding-bottom: 88px;

    @include bp("xmd") {
      display: none;
    }
  }

  .sidebar-menu-main {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    height: 100%;
    max-height: calc(100vh - 208px);

    @include bp("xmd") {
      max-height: calc(100vh - 30px);
    }

    .menu-block {
      li {

        a {
          padding: 15.5px 52px;
          width: 100%;
          color: $greyDark;

          @include bp("xs") {
            padding: 10px 25px;
          }

          &:not(.active) {
            &:hover {
              color: $blueMain;
            }
          }

          &.active {
            background-color: $blueMain;
            color: $white;
          }
        }
      }
    }

    .mobile-user-menu {
      display: none;

      @include bp('xmd') {
        display: block;
      }

      .MuiAccordion-rounded {
        @include border-radius(0);
        box-shadow: none;

        .MuiAccordionSummary-root {
          padding: 0 25px;
          min-height: auto;

          .MuiAccordionSummary-content {
            margin: 0;

            .user-detail {
              @include flexbox();
              @include align-items(center);

              img {
                width: 25px;
                height: 25px;
                @include border-radius(50%)
              }

              span {
                color: $blueMain;
                font-size: 14px;
                font-weight: 500;
                padding-left: 15px;
              }
            }
          }
        }

        .MuiAccordionDetails-root {
          padding: 15px 25px;
          background-color: $silverLight;

          .mobile-menu {
            li {
              +li {
                margin-top: 10px;
              }

              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .vertex-logo {
      margin-top: 40px;
      text-align: center;
      color: $blueMain;

      p {
        font-weight: 300;
      }
    }
  }
}


// toggle-menu css
.menu-open {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: fixed;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 91;
  }

  aside {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
}