$white: #fff;
$black: #000;
$blackPrimary: #363636;
$silverLight: #FBFBFB;
$greyLight: #BEBEBE;
$greyDark: #737373;
$greyLightSecondary: #C4C4C4;
$greyLightPrimary: #E5E5E5;
$blueMain: #00326C;
$lightBlue: #0059c1;
$darkGreen: #008575;
$red: #FF0000;