$white: #fff;
$black: #000;
$blackPrimary: #363636;
$blackSecondary: #393939;
$silverLight: #FBFBFB;
$greyLight: #BEBEBE;
$greyDark: #737373;
$greyLightSecondary: #C4C4C4;
$greyLightPrimary: #E5E5E5;
$greyExtraLight: #A0A0A0;
$blueMain: #00326C;
$lightBlue: #0054b5;
$skyBlue: #009ADA;
$darkGreen: #008575;
$red: #FF0000;