.MuiButton-outlined {
    border: 1px solid $greyLightPrimary !important;
    padding: 6px 15px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: $blackPrimary !important;
    width: 250px !important;
    text-transform: capitalize !important;
    font-family: 'Roboto', sans-serif !important;

    input {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    em {
        margin-left: 11px;
        cursor: pointer;
    }
}

.MuiButton-textPrimary {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: $skyBlue !important;
    letter-spacing: 0 !important;
    font-family: 'Roboto', sans-serif !important;
    font-style: italic;
    text-transform: capitalize !important;

    &:hover {
        color: $blueMain !important;
        background-color: transparent !important;
    }
}

.MuiButton-containedPrimary {
    background-color: $blueMain !important;
    color:$white !important;
    box-shadow: 0 4px 4px rgba($black, 0.15) !important;
    @include border-radius(2px);
    letter-spacing: 0 !important;
    line-height: 13px !important;
    padding: 11.5px 30px !important;
    font-weight: 700 !important;
    font-family: 'Roboto', sans-serif !important;

    &.Mui-disabled {
        background-color: $greyLight !important;
        color: $white !important;
    }

    &:hover {
        background-color: $lightBlue !important;
        box-shadow: 0 2px 4px -1px rgba($black, 0.2), 0 4px 5px 0 rgba($black, 0.14), 0 1px 10px 0 rgba($black, 0.12) !important;
    }
}

.MuiButton-containedSecondary {
    padding: 11.5px 30px !important;
    font-family: 'Roboto', sans-serif !important;
    box-shadow: 0 4px 4px rgba($black, 0.15) !important;
    @include border-radius(2px);
    letter-spacing: 0 !important;
    line-height: 13px !important;
    font-weight: 700 !important;
    line-height: 13px !important;
    background-color: $greyLight !important;
    text-transform: capitalize !important;

    &:hover {
        background-color: $greyDark !important;
        box-shadow: 0 2px 4px -1px rgba($black, 0.2), 0 4px 5px 0 rgba($black, 0.14), 0 1px 10px 0 rgba($black, 0.12) !important;
    }
}

// progress bar css
.MuiLinearProgress-colorPrimary {
    width: 100%;
    height: 5px !important;
    @include border-radius(8px);
    background-color: $greyLightSecondary !important;

    .MuiLinearProgress-barColorPrimary {
        background-color: $blueMain;
    }
}

// chip Css
 
.MuiChip-clickable {
    background-color: $blackSecondary !important;
    color: $white !important;
    @include border-radius(4px);
    font-size: 13px !important;
    font-weight: 400 !important;
    font-family: 'Roboto', sans-serif !important;
    font-style: italic;
    height: 25px !important;
    margin: 0 10px 10px 0 !important;

    .MuiChip-label {
        padding-left: 18px;
        padding-right: 17px;
    }

    .MuiChip-deleteIcon {
        fill: $white;
        width: 14px;
        height: 14px;
    }
}

// Checkbox css
.MuiFormControlLabel-labelPlacementEnd {
    margin-right: 0 !important;

    .MuiCheckbox-colorPrimary {
        &:hover {
            background-color: rgba(0, 50, 108, 0.04);
        }

        .MuiSvgIcon-fontSizeMedium {
            width: 20px;
            height: 20px;
            fill: $greyLight;
        }

        &.Mui-checked {
            .MuiSvgIcon-fontSizeMedium {
                fill: $blueMain;
            }
        }
    }

    .MuiFormControlLabel-label {
        font-size: 13px;
        font-weight: 400;
        color: $greyExtraLight;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
    }
}

// popover css start
.MuiPopover-paper {
    a {
        display: block;
        font-size: 15px;
        font-weight: 400;
        padding: 15px;

        + a {
            border-top: 1px solid $greyLightPrimary;
        }
    }
}